*{margin: 0;
 padding: 0;
 box-sizing: border-box;}



 body{
    font-family: "Open Sans",sans-serif;
 } 

 nav{

    padding: .8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;}

 nav>ul{list-style-type: none;}

 nav .nav, nav .nav-logo{

    margin: .5rem;
    display: inline;
 }

 /*intro section*/


 #intro h2, #intro p {margin-bottom: 1rem;}


#intro button{
    color: white;
    font-weight: bold;
    background-color: lightblue;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
}


/*info section*/

#info{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

#info h2{margin-bottom: 1rem;}

#info div{border: 1px solid black;
display: inline-block;
padding: 5px;
vertical-align: top;
margin-left: .5rem;
margin-right: .5rem;
min-height: 10px;
}  

#pre-footer{background-color:#003568;
color: white;
padding: 10px}

#pre-footer div{
display: inline-block;}  

#pre-footer div{
margin-right: 120px;
line-height:15pt;
vertical-align: text-top;}

h3{line-height: 20pt;}

#footer span{margin-right: 5px;
margin-left:1px}

#footer{padding: .6rem}
